@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto";
}

body{
  background-color:rgb(219, 219, 219);
}
h1{
  justify-content: center;
  
}
.container{
  background: gray;
  border-radius: 20px;
  border-width: 20px;
  border-style: ;
  place-items: center;
  margin-top: 170px;
  margin-bottom: 200px;
  margin-left: 200px;
  margin-right: 240px;
  padding-top: 20px;
  padding-bottom: 160px;
  padding-left: none;
  padding-right: 60px;
}
.generate-button{
  padding-left: 4px;
  padding-right: 17px;
  margin-left: 20px;
  margin-right: 10px;
  border-radius: 10px;
}
.color-box{
  display: grid;
  box-sizing: border-box;
  background-color: aliceblue;
  width: 49;
}
.palette-container{
  display: flex;
  justify-items: center;
  padding: 30px 2px;
}
